# Byte-compiled / optimized / DLL files
__pycache__/
db.sqlite3
migrations/
media/
settings.py

# Distribution / packaging
.Python
env/
.env
.idea
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
var/

venv/
.venv